@tailwind base;
@tailwind components;
@tailwind utilities;

.meal-form {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.form-header {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message {
  margin-top: 1rem;
  padding: 0.75rem;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 4px;
}

.success-message {
  margin-top: 1rem;
  padding: 0.75rem;
  background-color: #d4edda;
  color: #155724;
  border-radius: 4px;
}
.navBarLink {
  margin: 8px;
}

.meal-title {
  font-weight: bold;
}

.meal-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.ingredient-list {
  font-style: italic;
}

.filter-container {
  text-align: center;
  margin-bottom: 1rem;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.filter-label {
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: white;
  background-color: #4caf50;
  border-radius: 4px;
}

.filter-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.meal-plan-table {
  @apply table-auto border-collapse border border-slate-500 w-11/12 mt-8 mx-auto text-center bg-white shadow-lg rounded-lg overflow-hidden;
}

.meal-plan-table-header {
  @apply bg-green-500 text-white;
}

.meal-plan-table-cell {
  @apply border border-slate-600 py-3 px-4;
}

.meal-plan-table-row-alt {
  @apply bg-gray-100;
}

.meal-plan-table-meal-header {
  @apply border border-slate-600 py-3 px-4 font-semibold text-gray-700;
}